
{% extends "base.html.twig" %}

{% block title %}Liste des articles{% endblock %}

{% block main %}
   {% for article in articles %}
      <article>
         <h2>{{ article.title }}</h2>
         <p>{{ article.content }}</p>
         <img src="{{ article.image }}">
         <a href="{{ path('article', {'id':article.id}) }}">voir l'article</a>
      </article>
   {% endfor %}
{% endblock %}
